01_VAWT_wake/ppt/
01_VAWT_wake/mlfiles/SeaWaterRho/
01_VAWT_wake/mlfiles/tensorflow_datasets/
01_VAWT_wake/mlfiles/y_output(all).csv
01_VAWT_wake/mlfiles/VAWT 데이터 증가(3바퀴)/L2Comparison/
01_VAWT_wake/mlfiles/VAWT 데이터 증가(3바퀴)/.ipynb_checkpoints/
01_VAWT_wake/mlfiles/VAWT 데이터 증가(3바퀴)/CreateOutputDataset(vorticityField).ipynb
01_VAWT_wake/mlfiles/VAWT 데이터 증가(3바퀴)/CreateOutputDataset(vorticityField)20220515.ipynb
01_VAWT_wake/mlfiles/VAWT 데이터 증가(3바퀴)/Untitled.ipynb

02_2DSteadyAirfoil/ppt/
02_2DSteadyAirfoil/20221101AeroCNNII/20221101AeroCNNII사진.zip

03_VAWT_PitchAngle/ppt/
04_seaWater/