01_VAWT_wake/ppt/
01_VAWT_wake/mlfiles/SeaWaterRho
01_VAWT_wake/mlfiles/tensorflow_datasets
02_2DSteadyAirfoil/ppt/
02_2DSteadyAirfoil/20221101AeroCNNII/20221101AeroCNNII사진.zip
03_VAWT_PitchAngle/ppt/
04_seaWater/